# Pictures reception uploads through the admin panel are not committed; the
# curated openly-licensed defaults below are (see credits.php).
*
!.gitignore
!.htaccess
!banner-about.jpg
!banner-services.jpg
!banner-diabetes.jpg
!banner-maternity.jpg
!banner-emergency.jpg
!card-medicine.jpg
!card-diabetes.jpg
!card-maternity.jpg
!card-emergency.jpg
!card-lab.jpg
!card-tariff.jpg
!banner-tariff.jpg
!banner-about-sm.jpg
!banner-services-sm.jpg
!banner-diabetes-sm.jpg
!banner-maternity-sm.jpg
!banner-emergency-sm.jpg
!card-medicine-sm.jpg
!card-diabetes-sm.jpg
!card-maternity-sm.jpg
!card-emergency-sm.jpg
!card-lab-sm.jpg
!card-tariff-sm.jpg
!banner-tariff-sm.jpg
